.template
.idea
.DS_Store

test-ledger/

**/*/node_modules
**/*/package-lock.json
**/*/Cargo.lock
**/*/pnpm-lock.yaml

**/*/.anchor
**/*/.DS_Store
**/*/target
**/*/tests/fixtures
**/*.rs.bk
**/*/test-ledger
**/*/yarn.lock

/target
