[package]
name = "cnft-burn"
version = "0.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "cnft_burn"

[features]
default = []
cpi = ["no-entrypoint"]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
idl-build = ["anchor-lang/idl-build"]

[dependencies]
anchor-lang = "0.30.0"
mpl-bubblegum = "1.3.0"
spl-account-compression = { version="0.3.0",features = ["no-entrypoint","cpi"] }
ahash = "=0.8.7"
